html
    head
        title Trabalhando com pug
        style.
            .exemplo{
                    color:#0022ff;
                }
            #novoexemplo{
                    color:red;
                }
            .exemplo2{
                font-size: xx-large;
            }

    body
        h1.exemplo Ola
        #novoexemplo.exemplo2
               p Texto dentro da div de 
               br
               | exemplo
        
        img(src="https://avatars.githubusercontent.com/u/9338635?s=200&v=4", width="200")